/* .container-fluid{

    text-align: center;
    background-image: url("../search/weather.webp");  
    background-size: cover;
    height: 100vh;
}

.inputtext
{
    color:royalblue;
    font-size: 30px;
    border-radius: 9px;
    text-transform: uppercase;
    padding: 2px;
    margin: 10px;
}
.inputfield
{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    background-color:olivedrab;
}

.button
{
    color:whitesmoke;
    background-color: black;
    font-size: 25px;
    border-radius: 8px;
}

.button:hover
{
    font-size: 30px;
    background-color: whitesmoke;
    color: black;
    border-color: black;
} */

/* .container-fluid
{
    padding-top: 20px;
    background-image: url("../search/bg.jpeg");
}

.card
{
    border: 1px solid black;
    height: 35vh;
    background-color: whitesmoke;
}

.row
{
    padding:20px;
} */