<!-- <div class="container-fluid">
        <form class="inputfield">
            Enter Your City:<input type="text" class="inputtext">
            <button type="button" class="button">Search</button>
        </form>
</div> -->
<!-- <div class="container-fluid">

    <div class="row">
        <div class="col-3">
            <div class="card">
                current Day
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                29 January
            </div>
        </div>
        <div class="col">
            <div class="card">
                30 January
            </div>
        </div>
        <div class="col">
            <div class="card">
                31 January
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                current day
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                current day
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                current day
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                current day
            </div>
        </div>
    </div>
</div> -->



<!-- 
  <div class="card" style="width:200px;height: 50vh;">
    <div class="card-body">
      <h5 class="card-title">weather data</h5>
      <p class="card-text">temprature here</p>
    </div>
  </div>
  <div class="card" style="width:200px;height: 50vh;">
    <div class="card-body">
      <h5 class="card-title">weather data</h5>
      <p class="card-text">temprature here</p>
    </div>
  </div>
  <div class="card" style="width:200px;height: 50vh;">
    <div class="card-body">
      <h5 class="card-title">weather data</h5>
      <p class="card-text">temprature here</p>
    </div>
  </div> -->